
body{
    margin: 0px;
    font-family: 'Ubuntu';
}
section{
    height: 930px;
    margin: 0px;
    }

h2{
    font-size: 45px;
    font-weight: 800;
    margin: 30% 0% 0% 37%;
}
a:hover{
    color: green;
}
p{
    color: dimgray;
    padding: 2% 0% 2% 0%;
    margin-left: 30%;
}

.top{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sore-jao-top{
    width: 37%;
    float: left;  
    margin: 6% 0% 0% 5%; 
    padding-left: 2%;
}
.sore-jao-top img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    border-radius: 10px;
    background-color: orange;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    margin-left: 30%;
}
.name-highlight{
    color: hotpink;
    font-size: 60px;
    font-weight: 700;
    margin-left: 30%;
    padding-top: 8px;
}
.middle-one{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sore-jao-middle-one{
    width: 37%;
    float: left;  
    margin: 6% 0% 0% 5%; 
    padding-left: 2%;
}
.sore-jao-middle-one img{
   size: 100% 20%;
}
.bio{
    margin-top: 50%;
}
#text-midone{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 7% 0%;}
.middle-two{
    background-image: url("images/latest-work-bg.png") ;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}
.sore-jao-middle-two{
    width: 25%;
    float: left;  
    margin-left: 3%; 
    margin-top: 10%;
    padding: 1% 1% 0px 1%;
}
#fordown{
    margin: 0px;
    padding: 10px 30px;
}
.sore-jao-middle-two img{
    width: 100%;
}
.bottom{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#last-one{
    text-align: center;
    font-size: 50px;
}
.last-two{
    text-align: center;
    font-size: 30px;
    padding-top: 8%;
    margin: 0px;
}
h6{
    text-align: center;
}
.last-three{
    background-color: indianred;
    height: 30px;
    width: 500px;
    text-align: center;
    text-decoration: white;
    border-radius: 10px; 
    margin-left: 35%;  
}

span{
    color: white;
}

#last-four{
    color: white;
    padding-bottom: 70px;
}
#last-five{
    font-weight: bold;
}
footer{
  
    margin: 35%;
    padding: 0px;
}